<div *ngIf="userData" class="p-fluid">

  <div class="p-field">
    <label for="userData.id">Id</label>
    <input id="userData.id" type="text" readonly disabled pInputText [(ngModel)]="userData.id">
  </div>

  <div class="p-field">
    <label for="userData.login">Login</label>
    <input id="userData.login" type="text" readonly disabled pInputText [(ngModel)]="userData.login">
  </div>

  <div class="p-field">
    <label for="userData.firstname">Firstname</label>
    <input id="userData.firstname" type="text" readonly disabled pInputText [(ngModel)]="userData.firstname">
  </div>

  <div class="p-field">
    <label for="userData.lastname">Lastname</label>
    <input id="userData.lastname" type="text" readonly disabled pInputText [(ngModel)]="userData.lastname">
  </div>

  <div class="p-field">
    <label for="userData.email">Email</label>
    <input id="userData.email" type="text" readonly disabled pInputText [(ngModel)]="userData.email">
  </div>


  <div class="p-field">
    <label for="userData.roles">Roles</label>
    <input *ngFor="let role of userData.roles;let i = index" id="userData.roles" type="text" readonly disabled pInputText [(ngModel)]="userData.roles[i].roleName">
  </div>

</div>
