@import 'variables.scss';

@for $i from 0 through 100 {
  .opacity-#{$i} {
    opacity: #{$i/100};
  }

  .z-index-#{$i} {
    z-index: #{$i};
  }

  .circle-size-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
  }

  .line-height-#{$i} {
    line-height: #{$i}pt;
  }

  .font-size-#{$i} {
    font-size: #{$i}pt;
  }
}
