@import 'variables.scss';

@font-face {
  font-family: Roboto;
  src: url(font/roboto/Roboto-Regular.woff);
}

* {
  font-family: Roboto;
}


#app-body {
  margin: 20px;
}

body {
  margin: 0;
  font-family: Roboto;
  //background: $light 0% 0% no-repeat padding-box;
  //background: linear-gradient(to left, $BurlyWood, $Beige);
  height: 100%;
  /* max-height: 600px; */
  width: 100%;
  background-color: #eceeef;

  }

@keyframes para {
  100% {
    background-position: 
      -3000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }

}

#main-site-loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom right, $dark 0%, $grey 100%);

  .animation-container {
    display: block;
    position: relative;
    width: 800px;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;

    .lightning-container {
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      transform: translateY(-50%);

      .lightning {
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        border-radius: 12px;
        transform-origin: 6px 6px;
        animation-name: woosh;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
        animation-direction: alternate;

        &.white {
          background-color: $white;
          box-shadow: 0px 50px 50px 0px transparentize($white, 0.7);
        }

        &.red {
          background-color: #fc7171;
          box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
          animation-delay: 0.2s;
        }

        &.dark {
          background-color: #2B3245;
          box-shadow: 0px 50px 50px 0px transparentize(#2B3245, 0.7);
          animation-delay: 0.41s;
        }
      }
    }


    .boom-container {
      position: absolute;
      display: flex;
      width: 80px;
      height: 80px;
      text-align: center;
      align-items: center;
      transform: translateY(-50%);
      left: 200px;
      top: 155px;

      .shape {
        display: inline-block;
        position: relative;
        opacity: 0;
        transform-origin: center center;

        &.triangle {
          width: 0;
          height: 0;
          border-style: solid;
          transform-origin: 50% 80%;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          margin-left: -15px;
          border-width: 0 2.5px 5px 2.5px;
          border-color: transparent transparent #42e599 transparent;
          animation-name: boom-triangle;

          &.big {
            margin-left: -25px;
            border-width: 0 5px 10px 5px;
            border-color: transparent transparent #fade28 transparent;
            animation-name: boom-triangle-big;
          }
        }

        &.disc {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: #d15ff4;
          animation-name: boom-disc;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
        }

        &.circle {
          width: 20px;
          height: 20px;
          animation-name: boom-circle;
          animation-duration: 1s;
          animation-timing-function: ease-out;
          animation-iteration-count: infinite;
          border-radius: 100%;
          margin-left: -30px;

          &.white {
            border: 1px solid $white;
          }

          &.big {
            width: 40px;
            height: 40px;
            margin-left: 0px;

            &.white {
              border: 2px solid $white;
            }
          }
        }

        &:after {
          background-color: rgba(178, 215, 232, 0.2);
        }
      }

      .shape {
        &.triangle, &.circle, &.circle.big, &.disc {
          animation-delay: .38s;
          animation-duration: 3s;
        }

        &.circle {
          animation-delay: 0.6s;
        }
      }

      &.second {
        left: 485px;
        top: 455px;

        .shape {
          &.triangle, &.circle, &.circle.big, &.disc {
            animation-delay: 1.9s;
          }

          &.circle {
            animation-delay: 2.15s;
          }
        }
      }
    }
  }

  @keyframes woosh {
    0% {
      width: 12px;
      transform: translate(0px, 0px) rotate(-35deg);
    }

    15% {
      width: 50px;
    }

    30% {
      width: 12px;
      transform: translate(214px, -150px) rotate(-35deg);
    }

    30.1% {
      transform: translate(214px, -150px) rotate(46deg);
    }

    50% {
      width: 110px;
    }

    70% {
      width: 12px;
      transform: translate(500px, 150px) rotate(46deg);
    }

    70.1% {
      transform: translate(500px, 150px) rotate(-37deg);
    }

    85% {
      width: 50px;
    }

    100% {
      width: 12px;
      transform: translate(700px, 0) rotate(-37deg);
    }
  }

  @keyframes boom-circle {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    30% {
      opacity: 0;
      transform: scale(3);
    }

    100% {
    }
  }

  @keyframes boom-triangle-big {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    40% {
      opacity: 0;
      transform: scale(2.5) translate(50px, -50px) rotate(360deg);
    }

    100% {
    }
  }

  @keyframes boom-triangle {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    30% {
      opacity: 0;
      transform: scale(3) translate(20px, 40px) rotate(360deg);
    }

    100% {
    }
  }

  @keyframes boom-disc {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    40% {
      opacity: 0;
      transform: scale(2) translate(-70px, -30px);
    }

    100% {
    }
  }
  // FOOTER
  .footer {
    color: white;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    font-weight: 200;
    padding: 10px 20px;

    a {
      &,
      &:hover,
      &:focus,
      &:visited {
        color: #c6c6c6;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.p-justify-flex-end {
  justify-content: flex-end;
}

.p-flex-grow-1 {
  flex-grow: 1;
}

.fa-chart-bar:before {
  content: "";
}

.fa-box:before {
  content: "";
}

.fa-box-open:before {
  content: "";
}

.fa-bezier-curve:before {
  content: "";
}

.fa-code-branch:before {
  content: "";
}

p-sidebar {
  div.p-sidebar {
    padding-left: 0;
  }
}

.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #0056b3 !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #494f54 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #19692c !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #0f6674 !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #ba8b00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #121416 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
  font: 18px/23px Roboto;
  letter-spacing: 0px;
  color: $grey;
  opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
  font: 18px/23px Roboto;
  letter-spacing: 0px;
  color: $grey;
  opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
  text-align: left;
  font: 18px/23px Roboto;
  letter-spacing: 0px;
  color: $grey;
  opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: left;
  font: 18px/23px Roboto;
  letter-spacing: 0px;
  color: $grey;
  opacity: 1;
}

input, select, textarea {
  font-weight: bold !important;
}
