/* COLORS - https://xd.adobe.com/view/83b358b3-49ad-4f37-8af9-b941a91429e5-d6e0/screen/59b26663-5226-4ff2-bb77-cea5d5814ada/specs/*/
$pink: #F45C6D;
$red: #ED1C24;
$yellow: #FCB249;
$blue: #40A6C5;
$green: #186A7C;
$light: #F5F6FA;
$silver: #E5E9F2;
$dark: #2B3245;
$grey: #748AA1;
$orange: orange;

$white: #FFFFFF;
$black: #000000;

$boxshadow: #5659651F;
$darkblue: #6E7998;

$Beige: #F5F5DC;
$Bisque: #FFE4C4;
$BurlyWood: #DEB887;
