<div class="p-fluid">

  <div class="p-field">
    <label for="newAccount.name">Nazwa konta</label>
    <input id="newAccount.name" type="text" pInputText [(ngModel)]="newAccount.name">
  </div>

  <div class="p-field">
    <label for="newAccount.startAmount">Wartośc początkowa</label>
    <input id="newAccount.startAmount" type="text" pInputText [(ngModel)]="newAccount.startAmount">
  </div>

  <div class="p-field">
    <label for="newAccount.currency">Waluta</label>
    <p-dropdown id="newAccount.currency" [options]="currencies" [(ngModel)]="newAccount.currency.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz walutę"></p-dropdown>
  </div>


  <button pButton type="button" icon="pi pi-check" label="Dodaj" iconPos="left" (click)="save()"></button>
  <button pButton type="button" icon="pi pi-check" label="Anuluj" iconPos="left"  [routerLink]="['/rlds/accounts']"></button>
</div>
