<div *ngIf="transactionData" class="p-fluid">
  
    <div class="p-field">
      <label for="transactionData.date">Date</label>
      <input id="transactionData.date" type="text" pInputText [(ngModel)]="transactionData.date">
    </div>
  
    <div class="p-field">
      <label for="transactionData.user">User</label>
      <p-dropdown id="transactionData.user" [options]="users" [(ngModel)]="transactionData.user.id" optionLabel="login" optionValue="id" [showClear]="true" placeholder="Wybierz użytkownika"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.receiver">Receiver</label>
      <p-dropdown id="transactionData.receiver" [options]="accounts" [(ngModel)]="transactionData.receiver.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz odbiorcę"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.type">Type</label>
      <p-dropdown id="transactionData.type" [options]="types" [(ngModel)]="transactionData.type.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz typ"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.category">Category</label>
      <p-dropdown id="transactionData.category" [options]="categories" [(ngModel)]="transactionData.category.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz kategorię"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.status">Status</label>
      <p-dropdown id="transactionData.status" [options]="statuses" [(ngModel)]="transactionData.status.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz status"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.currency">Currency</label>
      <p-dropdown id="transactionData.currency" [options]="currencies" [(ngModel)]="transactionData.currency.id" optionLabel="name" optionValue="id" [showClear]="true" placeholder="Wybierz walutę"></p-dropdown>
    </div>
  
    <div class="p-field">
      <label for="transactionData.description">Description</label>
      <input id="transactionData.description" type="text" pInputText [(ngModel)]="transactionData.description">
    </div>

    <div class="p-field">
      <label for="transactionData.amount">Amount</label>
      <input id="transactionData.amount" type="text" pInputText [(ngModel)]="transactionData.amount">
    </div>
    
    <button pButton type="button" icon="pi pi-check" label="Dodaj" iconPos="left" (click)="save()"></button>

  </div>
